@import url('https://fonts.googleapis.com/css?family=Droid+Sans:bold');


/*
table, th, td {
    border: 1px solid red;
}
*/


tr {
    height: 23px;
}
textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    margin: 0 0 0 0;
    background-color: #f3f3f3;
    display: block;
    font-family: 'Courier';
    border-radius: 0;
    padding: 0px;
}
td.center {
    text-align: center;
}
td.right {
    text-align: right;
}
input.center {
    text-align: center;
}
html {
    font-family: 'Droid Sans', sans-serif;
}
.cell {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.gray_cell {
    background-color: #f3f3f3;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.dg_sheet_table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.dg_sheet_header {
    background-color: black
}
.dg_spacer_row {
    height: 4px
}
.dg_field_header {
    font-size: 10px;
    font-weight: bold;
}
.dg_input_field {
    width: 100%;
    height: 21px;
    margin: 0 0 0 0;
    line-height: 21px;
    font-size: 13px;
    padding: 0;
    border-width: 0;
    border: none;
    background-color: #f3f3f3;
    font-family: 'Courier';
    border-radius: 0;
    box-shadow: none;
}
.dg_text_col {
    background-color: black;
    color: white;
    white-space: nowrap;
    font-size: 12px;
}
.sheet-big-text {
    font-size: 24px;
    font
}
td.top_border {
    border-top: 1px solid black;
}
td.bottom_border {
    border-bottom: 1px solid black;
}
.vert_text_wrapper {
    position: relative;
}
.vert_text {
    /* Safari */
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
    /* Firefox */
    -moz-transform: translate(-50%, -50%) rotate(-90deg);
    /* IE */
    -ms-transform: translate(-50%, -50%) rotate(-90deg);
    /* Opera */
    -o-transform: translate(-50%, -50%) rotate(-90deg);
    /* Internet Explorer -BUG- missing translate */
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
    position: absolute;
    top: 50%;
    left: 50%;
}
.control {
    width: 12px;
    height: 12px;
    margin: auto;
    font-size: 18px;
    position: relative;
    display: block;
    cursor: pointer;
}
.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.control__indicator {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 12px;
    height: 12px;
    margin: auto;
    border-radius: 4px;
    background: #222222;
}
/* Hover and focus states */

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: #222222;
}
/* Checked state */

.control input:checked ~ .control__indicator {
    background: #222222;
}
/* Hover state whilst checked */

.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
    background: #222222;
}
/* Disabled state */

.control input:disabled ~ .control__indicator {
    pointer-events: none;
    opacity: .6;
    background: #e6e6e6;
}
/* Check mark */

.control__indicator:after {
    position: absolute;
    display: none;
    content: '';
}
/* Show check mark */

.control input:checked ~ .control__indicator:after {
    display: block;
}
/* Checkbox tick */

.control--checkbox .control__indicator:after {
    top: 1px;
    left: 3px;
    width: 3px;
    height: 6px;
    transform: rotate(45deg);
    border: solid #fff;
    border-width: 0 2px 2px 0;
}
/* Disabled tick colour */

.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}
/* Radio button inner circle */

.control--radio .control__indicator:after {
    top: 7px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}
/* Disabled circle colour */

.control--radio input:disabled ~ .control__indicator:after {
    background: #7b7b7b;
}
/*----------- Tabs Setup -------------*/

/*this hides the contents of each tab by default*/

.charsheet div[class^="sheet-section"] {
    display: none;
}
/*this shows the tab content when the appropriate input field is selected*/

.charsheet input.sheet-tab1:checked ~ div.sheet-section-page1,
.charsheet input.sheet-tab2:checked ~ div.sheet-section-page2
{
    display: block;
}
.charsheet input.sheet-tab99:checked ~ div[class^="sheet-section"] {
    display: block;
}
/*this hides the radio button for each tab, makes it 100px wide and 40px tall and makes sure it's above everything else*/

.charsheet input.sheet-tab {
    width: 100px;
    height: 40px;
    cursor: pointer;
    position: relative;
    opacity: 0;
    z-index: 9999;
}
/*this styles the span with the tab information and slides to the left, so it appears underneath the radio button*/

.charsheet span.sheet-tab {
    text-align: center;
    display: inline-block;
    font-size: 13px;
    background: #c7c3b0;
    color: black;
    font-weight: bold;
    border-radius: 4px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    margin-left: -101px;
    /*originally 91px*/
}
/*this modifies the span color once the radio button is selected so you know which tab is selected*/

.charsheet input.sheet-tab1:checked + span.sheet-tab1,
.charsheet input.sheet-tab2:checked + span.sheet-tab2,
{
    background: #2c424e;
    color: #bfc4c6;
    border-radius: 4px;
}
/*----------- End Tab Setup -----------*/