@import url('https://fonts.googleapis.com/css?family=Droid+Sans:bold');

/*
table, th, td {
    border: 1px solid red;
}
*/

tr {
    height: 23px;
}
textarea {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    margin: 0 0 0 0;
    background-color: #f3f3f3;
    display: block;
    font-family: 'Courier';
    border-radius: 0;
    padding: 0px;
}
td.center {
    text-align: center;
}
input.center {
    text-align: center;
}
html {
    font-family: 'Droid Sans', sans-serif;
}
.cell {
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.gray_cell {
    background-color: #f3f3f3;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.dg_sheet_table {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}
.dg_sheet_header {
    background-color: black
}
.dg_spacer_row {
    height: 4px
}
.dg_field_header {
    font-size: 10px;
    font-weight: bold;
}
.dg_input_field {
    width: 100%;
    height: 21px;
    margin: 0 0 0 0;
    line-height: 21px;
    font-size: 13px;
    padding: 0;
    border-width: 0;
    border: none;
    background-color: #f3f3f3;
    font-family: 'Courier';
    border-radius: 0;
    box-shadow: none;
}
.dg_text_col {
    background-color: black;
    color: white;
    white-space: nowrap;
    font-size: 12px;
}
td.top_border {
    border-top: 1px solid black;
}
td.bottom_border {
    border-bottom: 1px solid black;
}
.vert_text_wrapper {
    position: relative;
}
.vert_text {
    /* Safari */
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
    /* Firefox */
    -moz-transform: translate(-50%, -50%) rotate(-90deg);
    /* IE */
    -ms-transform: translate(-50%, -50%) rotate(-90deg);
    /* Opera */
    -o-transform: translate(-50%, -50%) rotate(-90deg);
    /* Internet Explorer -BUG- missing translate */
    filter: progid: DXImageTransform.Microsoft.BasicImage(rotation=3);
    position: absolute;
    top: 50%;
    left: 50%;
}
.skill_checkbox {
    position: relative;
}
.skill_checkbox label {
    width: 12px;
    height: 12px;
    cursor: pointer;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: -webkit-linear-gradient(top, #222222 0%, #45484d 100%);
    background: linear-gradient(to bottom, #222222 0%, #45484d 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.4);
}
.skill_checkbox label:after {
    content: '';
    margin: auto;
    width: 4px;
    height: 2px;
    position: absolute;
    top: 3px;
    left: 3px;
    border: 2px solid #fcfff4;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.skill_checkbox label:hover::after {
    opacity: 0.3;
}
.skill_checkbox input[type=checkbox] {
    visibility: hidden;
}
.skill_checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}